<html>
    <form action="/recipes" method="post">
        <p>Recipe Name: <input type="text" name="name" id="name"></p><br>
        <p>Recipe Ingredients: <input type="text" name="ingredients" id="ingredients"></p><br>
        <p>Recipe Cook Time: <input type="text" name="cook_time" id="cook_time"></p>
        <input type="submit" value="Submit" id="submit">
    </form>
</html>